@keyframes slide-left-light {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  70% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down {
  0% {
    /* opacity: 1; */
    transform: translateY(-400px);
  }
  60% {
    /* opacity: 0; */
    transform: translateY(-400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }
  60% {
    opacity: 0;
    transform: translateX(400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  60% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-down-el {
  z-index: 101;
  animation: slide-down 1.5s ease 0s forwards;
}

.slide-left-el {
  z-index: 101;
  animation: slide-left 1.5s ease 0s forwards;
}

.slide-right-el {
  z-index: 101;
  animation: slide-right 1.5s ease 0s forwards;
}
