<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145552506-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-145552506-1');
    </script>

    <meta property="og:image" content="https://s3.amazonaws.com/alcourses.codeplay/common/codenplay-share-image.png" />
    <meta name="twitter:image" content="https://s3.amazonaws.com/alcourses.codeplay/common/codenplay-share-image.png">

    <title>Codenplay - main</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <link rel="shortcut icon" type="image/png" href="./favicon.ico"/>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Hotjar Tracking Code for codenplay.io -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1441531,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <style>

      @font-face {
        font-family: 'Product Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
      }

      .blue-text {
        color: #4285F4;
      }
      .red-text {
        color: #EA4335;
      }
      .yellow-text {
        color: #FBBC05;
      }
      .green-text {
        color: #34A853
      }

      .clickable {
        cursor: pointer;
      }

      a {
        text-decoration: none;
      }

      h2,h3,h4,h5,h6 {
        font-family: Product Sans;
      }

      .task-card-image {
        /* width: 100%; */
        width: 100%;
        min-height: 15vw;
      }

      .done-gif {
        width: 23px;
      }

      #app {
        text-align: center;
      }

      .social-link-conainer {
        text-align: center;
      }

      .social-link img {
        width: 40px;
      }

      .copyright-container {
        text-align: center;
      }

      .mdl-mini-footer {
        background-color: whitesmoke;
      }

      /* Show only desktop notification */
      #only-desktop-notification {
        display: none;
      }
      @media only screen and (max-width: 1023px) {
        #only-desktop-notification {
          background-color: #FBBC05;
          /* color: #4285F4; */
          padding: 20px;
          display: block;
        }
      }

      @media only screen and (max-width: 839px) {
        .mdl-cell--3-col {
          width: 45vw;
        }

        .task-card-image {
          min-height: 27vw;
        }
      }

    </style>
  </head>
  <body>
    <!-- PRIVACY POLICY -->
    <script>
      (function () {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://app.termly.io/embed.min.js';
        s.id = 'c91a1e95-67f8-48ea-9b30-00519f28072f';
        s.setAttribute("data-name", "termly-embed-banner");
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      })();
    </script>

    <!-- TODO - maybe will remove it later -->
    <img src="https://s3.amazonaws.com/alcourses.codeplay/common/codenplay-share-image.png" style="display:none">

    <div id="only-desktop-notification">
      <h5>NOT COMPATIBLE WITH MOBILE DEVICES</h3>
      <p>
        This website doesn't work correctly with mobile devices.
        Please use your computer to see it.
        We work hard to create easy to use mobile app 😉
      </p>
    </div>

    <!-- <script src="./src/index.js"></script> -->
    <div class="custom-header">
        <h2 style="text-align: center;">
          <span class="blue-text">C</span>
          <span class="red-text">o</span>
          <span class="yellow-text">d</span>
          <span class="blue-text">e</span>
          <span class="green-text">n</span>
          <span class="red-text">p</span>
          <span class="red-text">l</span>
          <span class="blue-text">a</span>
          <span class="red-text">y</span>
        </h2>
    </div>

    <div id="app" class="mdl-grid">
      <div v-for="task in tasks" class="mdl-cell mdl-cell--3-col">
        <!-- <img v-bind:src="task.img"> -->
        <a v-bind:href="`lesson.html?config=${task.id}&nextPage=index.html`">
          <div
            class="task-card-image mdl-card mdl-shadow--2dp"
            v-bind:style="`background: url('${task.img}') center top / cover`"
            >
            <div class="mdl-card__title mdl-card--expand"></div>
            <div class="mdl-card__actions">
              <span class="task-card-image__filename">
              </span>
            </div>
          </div>
        </a>
        <!-- <h4 v-bind:class="`${task.color}-text`"> -->
        <a v-bind:href="`lesson.html?config=${task.id}&nextPage=index.html`">
          <h5 class="clickable">
            <!-- <img style="width: 30px;" src="file:///Users/alex/Downloads/done.png"> -->
            <div v-bind:id="`done-gif-container-${task.id}`">
              {{ task.title }}
              <img v-if="solvedTasks[task.id]" class="done-gif" src="https://s3.amazonaws.com/alcourses.codeplay/common/done.gif" >
            </div>
            <div v-if="solvedTasks[task.id]" class="mdl-tooltip" v-bind:data-mdl-for="`done-gif-container-${task.id}`">
              This task is solved. Great job!
            </div>
          </h5>
          
        </a>

      </div>

    </div>

    <footer class = "mdl-mini-footer">

        
        <!-- TODO - could and should be refactored with vue.js -->
        <!-- <div class="mdl-grid"> -->
                <div class="mdl-cell mdl-cell--2-col social-link-conainer mdl-cell-1-offset">
                  <!-- FB -->
                  <a class="social-link" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://codenplay.io&quote=Try to learn coding by playing with codenplay.io">
                    <img src="https://s3.amazonaws.com/alcourses.codeplay/social-icons/facebook.svg">
                  </a>
                </div>
                <div class="mdl-cell mdl-cell--2-col social-link-conainer">
                  <!-- Twitter -->
                  <a class="social-link" target="_blank" href="http://twitter.com/intent/tweet?status=Try to learn coding by playing with codenplay.io+https://codenplay.io">
                    <img src="https://s3.amazonaws.com/alcourses.codeplay/social-icons/twitter.svg">
                  </a>
                </div>
                <div class="mdl-cell mdl-cell--2-col social-link-conainer">
                  <!-- vk.com -->
                  <a class="social-link" target="_blank" href="https://vk.com/share.php?url=https://codenplay.io&title=Try to learn coding by playing with codenplay.io&image=https://s3.amazonaws.com/alcourses.codeplay/common/codenplay-share-image.png">
                    <img src="https://s3.amazonaws.com/alcourses.codeplay/social-icons/vk.svg">
                  </a>
                </div>
                <div  class="mdl-cell mdl-cell--2-col social-link-conainer">
                  <!-- LinkedIn -->
                  <a class="social-link" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=https://codenplay.io&title=&summary=Try to learn coding by playing with codenplay.io&source=">
                    <img src="https://s3.amazonaws.com/alcourses.codeplay/social-icons/linkedin.svg">
                  </a>
                </div>
                <div class="mdl-cell mdl-cell--2-col social-link-conainer">
                  <!-- Pinterest -->
                  <a class="social-link" target="_blank" href="https://pinterest.com/pin/create/button/?url=https://codenplay.io&media=https://s3.amazonaws.com/alcourses.codeplay/common/codenplay-share-image.png&description=Try to learn coding by playing with codenplay.io">
                    <img src="https://s3.amazonaws.com/alcourses.codeplay/social-icons/pinterest.svg">
                  </a>
                </div>

                <!-- <div class="mdl-cell mdl-cell--12-col copyright-container">
                    © 2019 codenplay.io
                </div> -->
        <!-- </div> -->
     
     </footer>

    <script>
      function sendEventToGA(category, action, label) {
        // sendEventToGA('send', 'event', 'Task', 'AllCompleted', currentSolvedTasksStringified);
        console.log(`Sending event to ga: ${category}, ${action}, ${label}`);
        gtag('event', action, {
          'event_label': label,
          'event_category': category
        });
      }


      function reportToGA(currentSolvedTasksStringified) {
        try {
          const solvedTasksKeyGA = 'codeplaySolvedTasksGA';
          if (currentSolvedTasksStringified !== localStorage.getItem(solvedTasksKeyGA)) {
            localStorage.setItem(solvedTasksKeyGA, currentSolvedTasksStringified);
            sendEventToGA('Task', 'Completed', currentSolvedTasksStringified);

            let currentSolvedTasks = JSON.parse(currentSolvedTasksStringified || "{}");
            let numberOfSolvedTasks = Object.keys(currentSolvedTasks).length;
            if (numberOfSolvedTasks == 7) {
              sendEventToGA('Task', 'AlmostAllCompleted', currentSolvedTasksStringified);
            }
            if (numberOfSolvedTasks == 10) {
              sendEventToGA('Task', 'AllCompleted', currentSolvedTasksStringified);
            }
          }
          
        } catch (e) {
          console.error(e);
          sendEventToGA('Error', 'occured', e.toString());
        }
      }
      
      function getSolvedTasks() {
        const solvedTasksKey = 'codeplaySolvedTasks';
        let solvedTasksFromLocalStorage = localStorage.getItem(solvedTasksKey);
        if (solvedTasksFromLocalStorage) {
          try {
            reportToGA(solvedTasksFromLocalStorage);
            return JSON.parse(solvedTasksFromLocalStorage);
          } catch (e) {
            console.error(e);
            return {};
          }
        } else {
          return {};
        }
      }

      const app = new Vue({
        el: '#app',
        methods: {
          getRandomColorClass() {
            let randVal = Math.random();
            if (randVal < 0.25) {
              return 'green-text';
            }
            if (randVal < 0.5) {
              return 'red-text';
            }
            if (randVal < 0.75) {
              return 'blue-text';
            }
            if (randVal < 1) {
              return 'yellow-text';
            }
          }
        },
        data: {

          solvedTasks: getSolvedTasks(),

          tasks: [
            {
              title: 'Iron man',
              id: 'ironMan',
              img: 'https://s3.amazonaws.com/alcourses.codeplay/Tasks/iron-man.png',
              unit: 'Instructions',
              color: 'green',
            },
            {
              title: 'Labyrinth 1',
              id: 'easyLabyrinth',
              img: 'https://s3.amazonaws.com/alcourses.codeplay/Tasks/caveman.jpg',
              unit: 'Instructions',
              color: 'green',
            },
            {
              title: 'Labyrinth 2',
              id: 'mediumLabyrinth',
              img: 'https://s3.amazonaws.com/alcourses.codeplay/Tasks/labyrinth-2.png',
              unit: 'Instructions',
              color: 'yellow',
            },
            {
              title: 'Labyrinth 3',
              id: 'hardLabyrinth',
              img: 'https://s3.amazonaws.com/alcourses.codeplay/Tasks/labyrinth.png',
              unit: 'Instructions',
              color: 'yellow',
            },
            {
              title: 'Achieve your goals',
              id: 'workHard',
              img: 'https://s3.amazonaws.com/alcourses.codeplay/Tasks/achieve-goal.png',
              unit: 'Instructions',
              color: 'green',
            },
            {
              title: 'Battle 1',
              id: 'oneWarrior',
              img: 'https://s3.amazonaws.com/alcourses.codeplay/Tasks/warrior.png',
              unit: 'Instructions',
              color: 'yellow',
            },
            {
              title: 'Battle 2',
              id: 'oneArcher',
              img: 'https://s3.amazonaws.com/alcourses.codeplay/Tasks/battle.png',
              unit: 'Instructions',
              color: 'yellow',
            },
            {
              title: 'Battle 3',
              id: 'twoWarriors',
              img: 'https://s3.amazonaws.com/alcourses.codeplay/Tasks/warrior-equipped.png',
              unit: 'Instructions',
              color: 'red',
            },
            {
              title: 'Battle with dragon',
              id: 'oneDragon',
              img: 'https://s3.amazonaws.com/alcourses.codeplay/Tasks/dragon.png',
              unit: 'Instructions',
              color: 'red',
            },
            {
              title: 'Speak better',
              id: 'readMore',
              img: 'https://s3.amazonaws.com/alcourses.codeplay/Tasks/speak.png',
              unit: 'Instructions',
              color: 'green',
            }
          ]
        }
      });
    </script>

  </body>
</html>