/* CUSTOM MANUAL STYLES */

@font-face {
  font-family: SFMono;
  src: url(fonts/SFMonoRegular.otf);
}

:root {
  --success-green-color: #4BB543;
  --light-green-color: #22da26;
  --warning-yellow-color: #ffae42;
  --light-blue-color: #00A4F5;
  /* --terminal-font-family: 'Roboto Mono', monospace; */
  /* --terminal-font-family: 'PT Mono', monospace; */
  --terminal-font-family: "SF Mono", monospace;
}

#top-container,#bottom-container,#control-bar,#code-editor,#main-page-button-container {
  display: none; /* for image preloading spinner */
}

#top-container {
  /* height: 500px; */
}

.toast {
  font-family: "Verdana", monospace;
  font-size: small;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

#screen-view {
  /* To center align */
  margin: auto;
  /* Position relative is important for dynamic objects in codeplay */
  position: relative;

  /* Maybe comment it */
  border-radius: 3px;
  box-shadow: 0 0 2px var(--light-blue-color);
}

@media only screen and (max-width: 1023px) {
  #screen-view {
    /* margin: initial; */
    margin-top: 40px;
  }

  .error-notification-img {
    width: 80px !important;
  }
}

#control-bar {
  position: fixed;
  margin: auto;
  /* margin-top: 5px; */
  text-align: center;
  /* border: 1px solid lightblue; */
  right: 20px;
  bottom: 20px;
  /* width: 70px; */
  padding: 5px;
  border-radius: 5px;
}

#bottom-container {
  /* clear: both; */
  margin-top: 25px;
}

#control-container {
  /* width: 49%; */
}

/* #top-container {
  
} */

#code-editor {
  margin: auto;
  /* margin-top: 5px; */
  /* border:1px solid #ccc; */
  width: 100%;
  height: 450px;
  /* border-radius: 3px; */
  
  border-radius: 3px;
  box-shadow: 0 0 2px var(--light-blue-color);
}

#code-editor .monaco-editor,.overflow-guard {
  border-radius: 3px;
}

@media only screen and (max-width: 1023px) {
  #code-editor {
    /* margin: initial; */
    width: 90vw;
  }


}

#run-button {
  background: var(--light-green-color);
  /* width: 70px; */
  padding: 15px;
  border-radius: 50px;
  float: left;

  /* animation: circle-waves-for-run-button 1s ease 2s 3 forwards;; */
}

#run-button i {
  color: white;
}

#stop-button {
  display: none;
  background: var(--warning-yellow-color);
  /* width: 70px; */
  /* border-radius: 5px; */
  padding: 15px;
  border-radius: 50px;
  float: left;
}

.md-icon {
  /* filter:  */
  color: var(--light-blue-color);
  font-size: 34px;
  width: 35px;
  margin: 5px;
}

.clickable:hover {
  cursor: pointer;
  /* transition: 0.5; */
  opacity: 0.7;
}

.clickable:active {
  /* box-shadow: 0 0 3px; */
  opacity: 1;
}

#overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* background: white url(img/spinner2.svg) center center no-repeat; */
  opacity: 1;
  text-align: center;
  z-index: 30 !important;
}

img#spinner {
  /* For option with spinner */
  margin-top: 38vh;
  height: 12vh;

  /* For option with original loader */
  /* margin-top: 45vh;
  height: 10vh; */
}

#loading-progress {
  /* font-family: "Courier New", monospace; */
  font-family: -apple-system, SF Mono, monaco, monospace;
  color: #00A5FB;
  margin-top: 1vh;
  font-size: 2vh;
}

/* TODO - maybe remove animated styles - if it is not used */
.animate {
  transition: all .5s ease-in-out;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

#doc-table td, #doc-table th {
  padding: 10px;
  border: 1px solid green;
}

#doc-table th {
  color: var(--light-green-color);
  border: 1px solid green;
}

.doc-method-name {
  font-weight: bolder;
}

.doc-method-description {
  max-width: 200px;
}

.doc-method-description,.doc-method-examples {
  /* padding-left: 20px; */
  font-size: small;
}

#terminal-manager-link {
  /* font-family: "Courier New", monospace; */
  font-family: 'PT Mono', monospace;
  cursor: pointer;
  text-decoration: underline;
  position: relative;
  z-index: 1;
  font-size: 12px;
  display: none; /* link is hidden at the beginning */
}

#terminal-manager-links {
  position: absolute;
  right: 5px;
  top: 20px;
  /* margin-bottom: -23px; */
  /* position: relative;
  top: 5px; */
  /* color: white; */
}


/* TERMINAL STYLES (copied from https://codepen.io/alidavut/pen/OXzxOO) */

/* TODO refactor - remove commented parts */
.window {
  border-radius: 5px;
  background: #222;
  color: #fff;
  overflow: scroll;
  position: relative;
  margin: 0 auto;
  width: 70%;
  
  /* height: 600px; */
}

@media only screen and (max-width: 1023px) {
  .window {
    margin: initial;
    width: 98%;
    margin-bottom: 200px;
  }
}


.window:before {
  content: ' ';
  display: block;
  height: 20px;
  /* background: #C6C6C6; */
  background: var(--light-green-color);
}
.window:after {
  /* content: '. . .'; */
  position: absolute;
  left: 12px;
  right: 0;
  top: -12px;
  font-size: 96px;
  color: #fff;
  line-height: 0;
  letter-spacing: -12px;
}

.terminal {
  margin: 20px;
  /* font-family: monospace; */
  /* font-family: 'PT Mono', monospace; */
  /* font-family: 'Roboto Mono', monospace; */
  font-family: var(--terminal-font-family);
  font-size: 16px;
  color: var(--light-green-color);
}

.terminal .command:before {
  content: '$ ';
  color: var(--light-green-color);
}

.command-error {
  color: #ff3c2c;
}

.terminal .command-error:before {
  color: #ff3c2c;
}

/* Notifications styling */

.toast {
  opacity: 0.97 !important;
}

.error-notification-img {
  width: 230px;
}

.error-notification-text {
  margin-top: 10px;
}

.mdl-snackbar--active {
  position: fixed;
  top: 0;
  height: 50px;
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

/* .back-to-home-container .back-to-main-text {
  font-size: 12px;
  text-decoration: none !important;
} */

.main-page-button-container {
  position: fixed;
  top: 5px;
  left: 5px;
}

.hidden-solver-button-container {
  position: fixed;
  bottom: 5px;
  left: 5px;
  opacity: 0;
}

.close-icon {
  /* width: 30px; */
  width: 35px;
}

/* Success modal styling */

#success-modal a {
  color: #4285F4;
  cursor: pointer;
}

#success-modal {
  display: none;
  text-align: center;
  font-family: Product Sans;
  color: var(--light-blue-color);
}

#success-modal-img {
  margin: auto;
  /* width: 150px; */
  height: 250px;
  margin-bottom: 15px;
}

#next-lesson-button {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(112, 180, 73);
  cursor: pointer;
  margin: auto;
  margin-bottom: 20px;
  width: 200px;
  border-radius: 5px;
}

#next-lesson-button a {
  font-size: 30px;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}

.terminal h6 {
  font-weight: 900;
  /* font-family: 'PT Mono', monospace; */
  font-family: var(--terminal-font-family);
}

#variables-values-container {
  border: 1px solid var(--light-green-color);
  display: none;
  width: 300px;

  position: absolute;
  top: 50px;
  right: 5px;

  background: #222;

  animation: slide-left-light 0.3s ease 0s forwards;
}

#variables-values-container table {
  width: 100% !important;
  max-width: 300px;
  color: var(--light-green-color);
  font-size: 14px;
}

#variables-values-container table th,td {
  border: 1px solid var(--light-green-color);
  padding: 5px;
}

.variable-name-bold {
  font-weight: bold;
}

/* Styles for big screens */
#main-container {
  max-width: 1360px !important;
  margin: auto;
}
